body {
    background-color: rgba(25, 4, 67, 0.54);
    /* width: 100vw;
    height: 100vw; */
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
  }
  
  .game-container {
    /* background-color: rgba(244, 239, 255, 0.57); */
    background-color: white;
    border-radius: 10px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-family: "Playfair Display", serif;
  }
  
  .color-box {
    border: 2px solid black;
    margin: 20px auto;
    border: 2px solid #000;
  }
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
  }
  
  @keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .status.correct {
    animation: pop 0.5s ease-in-out;  
    padding: 0.4em;
    font-size: 1.6em;
  }
  
  .status.wrong {
    animation: shake 0.5s ease-in-out;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
  }
  
  #score {
    width: 100%;
    text-align: center;
    font-size: 3em;
  }
  
  .new-game-button {
    padding: 1em;
    font-size: 1.3em;
    border-radius: 1em;
    background-color: rgba(82, 70, 105, 1);
    color: white;
    border: none;
  }